.Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

#user-details {
    display: flex;
    align-items: center;
    gap: 12px;
}

.signout-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
}